:root {
    --price-color: #ff6b00;
    --base-font-color: #000;
}

body {
    font-family: sans-serif;
}

.container{
    width: 1000px;
    margin: 100px auto 0 auto;
}

.row {
    padding: 10px;
    border-bottom: 1px solid silver;
    list-style: none;
}

.product-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 25px;
    color: var(--price-color);
}

.product-list-info {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.product-list-name {
    color: var(--base-font-color);
    font-weight: 700;
}


.product-list-price {
    color: var(--price-color);
}

.total-quantity {
    font-weight: 700;
}

@media screen and (max-width: 992px) {
    .container{
        width: 100%;
        margin: 0;
    }

    .product-list-item {
        flex-wrap: wrap;
    }

    .product-list {
        padding-left: 0;
    }

    .add-to-cart {
        justify-content: space-between;
        flex-grow: 1;
    }
}